<!--Template for Urls Rows -->
<script id="urlsTableTemplate" type="text/x-tmpl">
  <h2> Shortend Url List </h2>
  <table id="urlsTable">
    <tr>
      <th> Url </th>
      <th> Shortend Link </th>
    </tr>
    <!--Space for Adding Rows -->

  </table>
</script>
