<!--Template for Urls Row -->
<script id="urlsRowTemplate" type="text/x-tmpl">
  <tr>
    <td> {%= o.target %} </td>
    <td> <a href='{%= o.code %}'><%= APP_CONFIG['ROOT_URL'] %>/{%= o.code %}</a> </td>
  <tr>
</script>